.section-gallary > h1 {
  padding: 2rem 0;
  font-weight: 700;
  font-family: "Kalam", cursive;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-gap: 0.2rem;
  height: max-content;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(20vh, 200px);
}
.gallery li {
  flex: 0 0 auto;
  flex-wrap: wrap;
  height: 20vh;
  margin: 0.12rem;
  min-width: 15rem;
  width: 20rem;
}
@supports (display: grid) {
  .gallery li {
    height: initial;
    margin: unset;
    width: initial;
    min-width: initial;
  }
  .gallery li:nth-of-type(2n + 2) {
    grid-row: span 2;
  }
}

li:nth-of-type(1) {
  background-image: url("../../../assets/gallary/The-Gaekwad-Baroda.jpg");
}
li:nth-of-type(2) {
  background-image: url("../../../assets//gallary/Dwarkadhish-Temple.jpg");
}
li:nth-of-type(3) {
  background-image: url(../../../assets//gallary//National\ Salt\ Satyagraha.jpg);
}
li:nth-of-type(4) {
  background-image: url(../../../assets//gallary//Sardar-Sarovar-Dam-Banner.jpg);
}
li:nth-of-type(5) {
  background-image: url(../../../assets//gallary//Citadel-Banner.jpg);
}
li:nth-of-type(6) {
  background-image: url(../../../assets//gallary/international-kite-festival.jpg);
}
li:nth-of-type(7) {
  background-image: url(../../../assets//gallary//rannutsav.jpg);
}
li:nth-of-type(8) {
  background-image: url(../../../assets//gallary//Sasan\ Gir.png);
}
li:nth-of-type(9) {
  background-image: url(../../../assets/gallary//Mahabat-Khan-Maqbara.jpg);
}
li:nth-of-type(10) {
  background-image: url(../../../assets//gallary//Sun-Temple-Banner.jpg);
}
li:nth-of-type(11) {
  background-image: url(../../../assets//gallary//somnath-temple-banner.jpg);
}
li:nth-of-type(12) {
  background-image: url(../../../assets//gallary//Rani-Ki-Vav-Banner.jpg);
}
li:nth-of-type(13) {
  background-image: url(../../../assets//gallary//art-craft-banner.jpeg);
}
li:nth-of-type(14) {
  background-image: url(../../../assets//gallary//Dutch-Cemetery-1.jpg);
}
li:nth-of-type(15) {
  background-image: url(../../../assets//gallary/Surat-Castle-Banner.jpg);
}
li:nth-of-type(16) {
  background-image: url(../../../assets//gallary/leather-work-banner.jpeg);
  height: 49%;
  object-fit: cover;
}
li:nth-of-type(17) {
  background-image: url(../../../assets//gallary//Tithal-Beach.png);
}
li:nth-of-type(18) {
  background-image: url(../../../assets//gallary//leather-work-banner.jpeg);
}
ul,
li {
  list-style: none;
  padding-left: 0;
}
li {
  align-items: stretch;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 3;
  overflow: hidden;
}
li:hover .🐜-title,
li:focus .🐜-title {
  background-color: #041b49;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transform: translateY(0);
}
.🐜-title {
  background-color: rgba(4, 27, 73, 0.5);
  color: #fff;
  font-size: 0.8rem;
  line-height: 1.5;
  margin: 0;
  padding: 0.25rem 0.5rem;
  transform: translateY(100px);
  transition: padding 0.3s ease-in-out, background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}
h1 {
  font-size: calc(3rem + 1vw);
  font-weight: 300;
  margin: 2rem 0 0;
  text-align: center;
}
h1 span {
  font-weight: 700;
}
